<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <file>log/output.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/output%i.log</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="common.EverytimeTriggeringPolicy">
        </triggeringPolicy>
    </appender>

    <appender name="SPECIAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <file>log/special.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/special%i.log</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="common.EverytimeTriggeringPolicy">
        </triggeringPolicy>
    </appender>



    <root level="debug">
        <appender-ref ref="FILE" />
<!--        <appender-ref ref="CONSOLE" />-->
    </root>
</configuration>
